@@- $g := get . "g" -@@
@@- $f := get . "field" -@@
@@- $label := attrs $f.Attrs "label" -@@
@@- $labelValue := $f.Comment -@@
@@- if $label -@@
    @@- $labelValue = $label.Value -@@
@@- end -@@

<el-table-column label="@@ $labelValue @@" prop="@@ $f.Name @@">
    <template #default="{ row }">
        <el-image style="width:50px;height:50px;" :src="row.@@ $f.Name @@" />
    </template>
</el-table-column>