{{ $g := .Generator }}

{{ $g.Template "import/header.tmpl" $g.Cfg.Header }}
package service

import (
	"context"
	"encoding/json"

	codes "google.golang.org/grpc/codes"
	status "google.golang.org/grpc/status"
	emptypb "google.golang.org/protobuf/types/known/emptypb"

	pb "{{ $g.Cfg.Attrs.protoPkg }}/gen/go/{{ .Project }}/v1"
	"{{ .Package }}/domain"
	"{{ .Package }}/repository"
)

{{- $table := .}}
{{- $id := .ID}}

func (s *Service) list{{ $table.Name | pascal | plural }}(ctx context.Context, parent string, req *pb.List{{ $table.Name | pascal | plural }}Request) (*pb.List{{ $table.Name | pascal | plural }}Response, error) {
	if req == nil {
		return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{ $id.Name | camel }} is not provided")
	}

	var (
		withEdges bool
		filter *domain.{{ $table.Name | pascal }}FilterInput
	)

	if len(req.Filter) > 0 {
		f := domain.{{ $table.Name | pascal }}FilterInput{}
		err := json.Unmarshal([]byte(req.Filter), &f)
		if err != nil {
			return nil, status.Errorf(codes.InvalidArgument, "invalid argument: filter parse fail: %v", err)
		}
		filter = &f
	}

	switch req.GetView() {
	case pb.List{{ $table.Name | pascal | plural }}Request_VIEW_UNSPECIFIED, pb.List{{ $table.Name | pascal | plural }}Request_BASIC:
	case pb.List{{ $table.Name | pascal | plural }}Request_WITH_EDGES:
		withEdges = true
	default:
		return nil, status.Errorf(codes.InvalidArgument, "invalid argument: unknown view")
	}

    {{ $table.Name | camel | plural }}, nextPageToken, err := s.us.List{{ $table.Name | pascal | plural }}(ctx, {{- if $table.HasParent }}parent, req.Parent,{{- end }} {{- if $table.HasFilterField }}filter,{{- end }} req.OrderBy, req.PageSize, req.PageToken, withEdges)

	if err != nil {
		return nil, err
	}

	pb{{ $table.Name | pascal | plural }} := make([]*pb.{{ $table.Name | pascal }}, 0, len({{ $table.Name | camel | plural }}))
	for _, {{ $table.Name | camel  }} := range {{ $table.Name | camel | plural }} {
		pb{{ $table.Name | pascal | plural }} = append(pb{{ $table.Name | pascal | plural }}, {{ $table.Name | camel  }}.ToDTO())
	}

	var resp pb.List{{ $table.Name | pascal | plural }}Response
	resp.{{ $table.Name | pascal | plural }} = pb{{ $table.Name | pascal | plural }}
	resp.NextPageToken = nextPageToken

	return &resp, nil
}

func (s *Service) List{{ $table.Name | pascal | plural }}(ctx context.Context, req *pb.List{{ $table.Name | pascal | plural }}Request) (*pb.List{{ $table.Name | pascal | plural }}Response, error) {
	return s.list{{ $table.Name | pascal | plural }}(ctx, "", req)
}

{{- range $f := .Fields}}
    {{- if or $f.RelBelongsTo $f.RelManyToMany }}
		func (s *Service) List{{ $table.Name | pascal | plural }}With{{ .Name | pascal }}(ctx context.Context, req *pb.List{{ $table.Name | pascal | plural }}Request) (*pb.List{{ $table.Name | pascal | plural }}Response, error) {
			return s.list{{ $table.Name | pascal | plural }}(ctx, "{{ .Name | camel | plural }}", req)
		}
	{{- end}}
{{- end}}

func (s *Service) Create{{ $table.Name | pascal }}(ctx context.Context, req *pb.Create{{ $table.Name | pascal }}Request) (*pb.{{ $table.Name | pascal }}, error) {
	if req == nil {
		return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{$id.Name | camel }} is not provided")
	}

	{{ $table.Name | camel  }} := &domain.{{ $table.Name | pascal }}{}
	{{ $table.Name | camel  }} = domain.{{ .Name | pascal }}ToPO(req.Get{{ $table.Name | pascal }}())

	{{ $table.Name | camel  }}, err := s.us.Create{{ $table.Name | pascal }}(ctx, {{ $table.Name | camel  }})

	if err != nil {
		return nil, err
	}

	return {{ $table.Name | camel  }}.ToDTO(), nil
}

func (s *Service) BatchCreate{{ $table.Name | pascal | plural }}(ctx context.Context, req *pb.BatchCreate{{ $table.Name | pascal | plural }}Request) (*pb.BatchCreate{{ $table.Name | pascal | plural }}Response, error) {
	if req == nil {
		return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{$id.Name | camel }} is not provided")
	}

	{{ $table.Name | camel | plural }} := make([]*domain.{{ $table.Name | pascal }}, len(req.Get{{ $table.Name | pascal | plural }}()))
	for i, item := range req.{{ $table.Name | pascal | plural }} {
		{{ $table.Name | camel | plural }}[i] = domain.{{ .Name | pascal }}ToPO(item)
	}

	{{ $table.Name | camel | plural }}, err := s.us.BatchCreate{{ $table.Name | pascal | plural }}(ctx, {{ $table.Name | camel | plural }})

	if err != nil {
		return nil, err
	}

	pb{{ $table.Name | pascal | plural }} := make([]*pb.{{ $table.Name | pascal }}, len({{ $table.Name | camel | plural }}))
	for i, {{ $table.Name | camel  }} := range {{ $table.Name | camel | plural }} {
		pb{{ $table.Name | pascal | plural }}[i] = {{ $table.Name | camel  }}.ToDTO()
	}

	var resp pb.BatchCreate{{ $table.Name | pascal | plural }}Response
	resp.{{ $table.Name | pascal | plural }} = pb{{ $table.Name | pascal | plural }}

	return &resp, nil
}

{{- range $f := .Fields}}
    {{- if not $f.Remote }}
		{{- if $f.Filterable }}
			func (s *Service) Get{{ $table.Name | pascal }}By{{ $f.Name | pascal }}(ctx context.Context, req *pb.Get{{ $table.Name | pascal }}By{{ $f.Name | pascal }}Request) (*pb.{{ $table.Name | pascal }}, error) {
				var (
					withEdges bool
				)

				if req == nil {
					return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{ $f.Name | camel  }} is not provided")
				}

				switch req.GetView() {
				case pb.Get{{ $table.Name | pascal }}By{{ $f.Name | pascal }}Request_VIEW_UNSPECIFIED, pb.Get{{ $table.Name | pascal }}By{{ $f.Name | pascal }}Request_BASIC:
				case pb.Get{{ $table.Name | pascal }}By{{ $f.Name | pascal }}Request_WITH_EDGES:
					withEdges = true
				default:
					return nil, status.Errorf(codes.InvalidArgument, "invalid argument: unknown view")
				}

				{{ $table.Name | camel  }}, err := s.us.Get{{ $table.Name | pascal }}By{{ $f.Name | pascal }}(ctx, req.{{ $f.Name | pascal }}, withEdges)
				if err != nil {
					return nil, err
				}
				return {{ $table.Name | camel  }}.ToDTO(), nil
			}
			func (s *Service) BatchGet{{ $table.Name | pascal | plural }}By{{ $f.Name | pascal }}(ctx context.Context, req *pb.BatchGet{{ $table.Name | pascal | plural }}By{{ $f.Name | pascal }}Request) (*pb.BatchGet{{ $table.Name | pascal | plural }}Response, error) {
				var (
					withEdges bool
				)

				if req == nil || len(req.{{ $f.Name | pascal | plural }}) == 0 {
					return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{ $f.Name | camel  }} is not provided")
				}

				switch req.GetView() {
				case pb.BatchGet{{ $table.Name | pascal | plural }}By{{ $f.Name | pascal }}Request_VIEW_UNSPECIFIED, pb.BatchGet{{ $table.Name | pascal | plural }}By{{ $f.Name | pascal }}Request_BASIC:
				case pb.BatchGet{{ $table.Name | pascal | plural }}By{{ $f.Name | pascal }}Request_WITH_EDGES:
					withEdges = true
				default:
					return nil, status.Errorf(codes.InvalidArgument, "invalid argument: unknown view")
				}

				{{ $table.Name | camel | plural }}, err := s.us.BatchGet{{ $table.Name | pascal | plural }}By{{ $f.Name | pascal }}(ctx, req.{{ $f.Name | pascal | plural }}, withEdges)
				if err != nil {
					return nil, err
				}

				pb{{ $table.Name | pascal | plural }} := make([]*pb.{{ $table.Name | pascal }}, len({{ $table.Name | camel | plural }}))
				for i, {{ $table.Name | camel  }} := range {{ $table.Name | camel | plural }} {
					pb{{ $table.Name | pascal | plural }}[i] = {{ $table.Name | camel  }}.ToDTO()
				}

				var resp pb.BatchGet{{ $table.Name | pascal | plural }}Response
				resp.{{ $table.Name | pascal | plural }} = pb{{ $table.Name | pascal | plural }}

				return &resp, nil
			}
		{{- end}}
	{{- end}}
{{- end}}

func (s *Service) Update{{ $table.Name | pascal }}(ctx context.Context, req *pb.Update{{ $table.Name | pascal }}Request) (*pb.{{ $table.Name | pascal }}, error) {

	if req == nil || req.{{ $table.Name | pascal }} == nil {
		return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{$id.Name | camel }} is not provided")
	}

	{{ $table.Name | camel  }} := &domain.{{ $table.Name | pascal }}{}
	{{ $table.Name | camel  }} = domain.{{ $table.Name | pascal }}ToPO(req.Get{{ $table.Name | pascal }}())

	mask := req.GetUpdateMask()
	var updateMask []string
	if mask != nil {
		CamelCaseFieldMask(mask)
		updateMask = mask.GetPaths()
	}

	{{ $table.Name | camel  }}, err := s.us.Update{{ $table.Name | pascal }}(ctx, {{ $table.Name | camel  }}, updateMask)
	if err != nil {
		return nil, err
	}
	return {{ $table.Name | camel  }}.ToDTO(), nil
}

func (s *Service) BatchUpdate{{ $table.Name | pascal | plural }}(ctx context.Context, req *pb.BatchUpdate{{ $table.Name | pascal | plural }}Request) (*pb.BatchUpdate{{ $table.Name | pascal | plural }}Response, error) {
	if req == nil {
		return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{$id.Name | camel }} is not provided")
	}

	{{ $table.Name | camel | plural }} := make([]*domain.{{ $table.Name | pascal }}, len(req.Get{{ $table.Name | pascal | plural }}()))
	for i, item := range req.{{ $table.Name | pascal | plural }} {
		{{ $table.Name | camel | plural }}[i] = domain.{{ .Name | pascal }}ToPO(item)
	}

	mask := req.GetUpdateMask()
	var updateMask []string
	if mask != nil {
		CamelCaseFieldMask(mask)
		updateMask = mask.GetPaths()
	}

	{{ $table.Name | camel | plural }}, err := s.us.BatchUpdate{{ $table.Name | pascal | plural }}(ctx, {{ $table.Name | camel | plural }}, updateMask)

	if err != nil {
		return nil, err
	}

	pb{{ $table.Name | pascal | plural }} := make([]*pb.{{ $table.Name | pascal }}, len({{ $table.Name | camel | plural }}))
	for i, {{ $table.Name | camel  }} := range {{ $table.Name | camel | plural }} {
		pb{{ $table.Name | pascal | plural }}[i] = {{ $table.Name | camel  }}.ToDTO()
	}

	var resp pb.BatchUpdate{{ $table.Name | pascal | plural }}Response
	resp.{{ $table.Name | pascal | plural }} = pb{{ $table.Name | pascal | plural }}

	return &resp, nil
}

func (s *Service) Delete{{ $table.Name | pascal }}(ctx context.Context, req *pb.Delete{{ $table.Name | pascal }}Request) (*emptypb.Empty, error) {

	if req == nil {
		return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{$id.Name | camel }} is not provided")
	}

	err := s.us.Delete{{ $table.Name | pascal }}(ctx, req.{{ $id.Name | pascal }})
	if err != nil {
		return nil, err
	}
	return &emptypb.Empty{}, nil
}

func (s *Service) BatchDelete{{ $table.Name | pascal | plural }}(ctx context.Context, req *pb.BatchDelete{{ $table.Name | pascal | plural }}Request) (*emptypb.Empty, error) {

	if req == nil || len(req.{{$id.Name | pascal | plural}}) == 0 {
		return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{$id.Name | camel }} is not provided")
	}

	err := s.us.BatchDelete{{ $table.Name | pascal | plural }}(ctx, req.{{ $id.Name | pascal | plural }})
	if err != nil {
		return nil, err
	}
	return &emptypb.Empty{}, nil
}

{{- range $f := .Fields}}
	{{- if .RelManyToMany }}
		func (s *Service) {{ $table.Name | pascal | plural }}AssignWith{{ $f.Name | pascal | plural }}(ctx context.Context, req *pb.{{ $table.Name | pascal | plural }}AssignWith{{ $f.Name | pascal | plural }}Request) (*emptypb.Empty, error) {

			if req == nil {
				return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{ $f.Rel.JoinTable.JoinField.Name | pascal }} is not provided")
			}

			err := s.us.{{ $table.Name | pascal | plural }}AssignWith{{ $f.Name | pascal | plural }}(ctx, req.{{ $f.Rel.JoinTable.JoinField.Name | pascal }}, req.{{ $f.Rel.JoinTable.JoinRefField.Name | pascal | plural }})
			if err != nil {
				return nil, err
			}
			return &emptypb.Empty{}, nil
		}

		func (s *Service) {{ $table.Name | pascal | plural }}UnassignWith{{ $f.Name | pascal | plural }}(ctx context.Context, req *pb.{{ $table.Name | pascal | plural }}UnassignWith{{ $f.Name | pascal | plural }}Request) (*emptypb.Empty, error) {

			if req == nil {
				return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{ $f.Rel.JoinTable.JoinField.Name | pascal }} is not provided")
			}

			err := s.us.{{ $table.Name | pascal | plural }}UnassignWith{{ $f.Name | pascal | plural }}(ctx, req.{{ $f.Rel.JoinTable.JoinField.Name | pascal }}, req.{{ $f.Rel.JoinTable.JoinRefField.Name | pascal | plural }})
			if err != nil {
				return nil, err
			}
			return &emptypb.Empty{}, nil
		}
		
		{{- if $f.Remote }}
			func (s *Service) List{{ $f.Rel.JoinTable.JoinRefField.Name | pascal | plural }}With{{ $f.Rel.JoinTable.JoinField.Name | pascal }}(ctx context.Context, req *pb.List{{ $f.Rel.JoinTable.JoinRefField.Name | pascal | plural }}With{{ $f.Rel.JoinTable.JoinField.Name | pascal }}Request) (*pb.List{{ $f.Rel.JoinTable.JoinRefField.Name | pascal | plural }}With{{ $f.Rel.JoinTable.JoinField.Name | pascal }}Response, error) {
				if req == nil {
					return nil, status.Errorf(codes.InvalidArgument, "invalid argument: {{ $id.Name | camel }} is not provided")
				}

				pb{{ $f.Rel.JoinTable.JoinRefField.Name | pascal | plural }}, nextPageToken, err := s.us.List{{ $f.Rel.JoinTable.JoinRefField.Name | pascal | plural }}With{{ $f.Rel.JoinTable.JoinField.Name | pascal }}(ctx, req.{{ $f.Rel.JoinTable.JoinField.Name | pascal }}, req.OrderBy, req.PageSize, req.PageToken)

				if err != nil {
					return nil, err
				}

				var resp pb.List{{ $f.Rel.JoinTable.JoinRefField.Name | pascal | plural }}With{{ $f.Rel.JoinTable.JoinField.Name | pascal }}Response
				resp.{{ $f.Rel.JoinTable.JoinRefField.Name | pascal | plural }} = pb{{ $f.Rel.JoinTable.JoinRefField.Name | pascal | plural }}
				resp.NextPageToken = nextPageToken

				return &resp, nil
			}
		{{- end }}
	{{- end}}
{{- end}}
