module {{ .Package }}

go 1.18

require (
	emperror.dev/errors v0.8.1
	github.com/DATA-DOG/go-sqlmock v1.5.0
	github.com/bxcodec/faker/v3 v3.8.0
	github.com/go-playground/validator v9.31.0+incompatible
	github.com/go-playground/validator/v10 v10.11.0
	github.com/golang/mock v1.6.0
	github.com/google/uuid v1.3.0
	github.com/grpc-ecosystem/go-grpc-middleware v1.3.0
	github.com/grpc-ecosystem/go-grpc-prometheus v1.2.0
	github.com/grpc-ecosystem/grpc-gateway/v2 v2.10.2
	github.com/iancoleman/strcase v0.2.0
	github.com/opentracing/opentracing-go v1.2.0
	github.com/orlangure/gnomock v0.20.0
	github.com/pkg/errors v0.9.1
	github.com/prometheus/client_golang v1.12.2
	github.com/spf13/viper v1.11.0
	github.com/stretchr/testify v1.8.0
	github.com/uber/jaeger-client-go v2.30.0+incompatible
	go.uber.org/zap v1.21.0
	golang.org/x/oauth2 v0.0.0-20220524215830-622c5d57e401
	google.golang.org/genproto v0.0.0-20220525015930-6ca3db687a9d
	google.golang.org/grpc v1.47.0
	google.golang.org/grpc/cmd/protoc-gen-go-grpc v1.2.0
	google.golang.org/protobuf v1.28.0
	gopkg.in/natefinch/lumberjack.v2 v2.0.0
)
